{{>Header}}

<div class="container">
    <div class="row home-section">
        <div class="col-md-6">
            <p>Welcome to weather app</p>
            <h1>Get the latest weather info of your city</h1>
            <a href="/weather" class="btn btn-chck-now">Check now</a>
        </div>
        <div class="col-md-6">
            <iframe src="https://giphy.com/embed/QRhtqYeEywJI4" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
    </div>
</div>

{{>Footer}}