{{>Header}}

<div class="container d-flex justify-content-center mt-3">
    <div class="container m-4 w-50">
    <form method="post" action="/login">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group mb-2 text-center">
          {{#if success}}  
              <label class="text-center text-success">{{success}}</label>                    
          {{/if}}
          {{#if error}}  
              <label class="text-center text-danger">{{error}}</label>                 
          {{/if}}
      </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</div>

{{>Footer}}